.input {
  flex: 1;
  border-radius: 999px;
  color: rgb(173, 172, 172);
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgba(59, 59, 59, 0.6);
  font-size: 1.2em;
  padding: 0.4em 0em 0.4em 0.8em;
  outline: none;
}
